@font-face {
  font-family: "Helvetica Neue LT GEO 55 Roman";
  src: url("../Fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
    url("../Fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
    url("../Fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT GEO Caps 55 Roman";
  src: url("../fonts/HelveticaNeueLTGEOCaps-55Rmn.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEOCaps-55Rmn.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEOCaps-55Rmn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT GEO 65";
  src: url("../fonts/HelveticaNeueLTGEO-65Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEO-65Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEO-65Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT GEO 75 Roman";
  src: url("../fonts/HelveticaNeueLTGEO-75Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  src: url("../Fonts/HelveticaNeueLTGEOCaps-75Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEOCaps-75Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEOCaps-75Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeue-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*

- - - - - - - - - - - -

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Noto Sans Georgian; */
}

bodY {
  background-color: #f4f0f0;
}

header {
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 1440px;
  height: 72px;
  align-content: center;
  text-align: center;
}

/* ლელას კოდის დასაწყისი */

/* * {
    cursor: pointer;
  } */

a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  background-color: #3366cc;
  margin-top: 40px;
  height: 70px;
}
.lmlogo {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar li {
  margin-right: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  border: solid #3366cc 3px;
  padding: 16px 16px;
}

/* .PS-active-page {
  border: solid #3366cc 3px;
  border-bottom: solid #ffffff 3px;
} */

.navbar li:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}
.navbar li:last-child {
  margin-right: 0;
}

/* ლელას კოდის დასასრული */

.PS-section-list {
  background-color: white;
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PS-search {
  /* border: solid rgb(255, 0, 0) 1px; */
  margin: 0 auto;
  width: 1440px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 16px;
}

.PS-fing-job-you-love {
  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 5%;
  color: #333333;
}

.PS-find {
  /* border: solid red 1px; */
  display: flex;
  align-items: center;
  /* gap: 32px; */
}

/* - - - - - - - - */
/* .mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
} */

/* - - - - - - - - */

.PS-search-bar {
  width: 302px;
  height: 37px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  gap: 8px;
  opacity: 1;
  border: solid #808080 1px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
  /* border-width: 1px; */
  outline: none;

  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* leading-trim: NONE; */
  line-height: 21px;
  letter-spacing: 0%;
}

.PS-clearInput-button {
  height: 37px;
  width: 37px;
  font-size: 20px;
  /* align-items: center; */
  /* justify-content: start; */
  border: solid #808080 1px;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: transparent;
  padding-bottom: 8px;
}

.PS-clearInput-button > img {
  width: 24px;
}

.PS-find-button {
  /* display: none; */
  margin-left: 32px;
  background-color: #3366cc;
  color: #ffffff;
  width: 102px;
  height: 36px;
  gap: 8px;

  opacity: 1;
  /* padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px; */
  border-radius: 8px;

  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5%;
}

.PS-filter-result {
  /* border: solid red 1px; */
  display: flex;
}

.PS-filter {
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 366px;
  /* height: 1558px; */

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.PS-filter-name {
  /* border: solid black 1px; */
  font-family: "Helvetica Neue LT GEO 75 Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0%;
  color: #333333;
}

.PS-filter-name-content {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 5px;
}

.PS-filter-sphere {
  /* border: solid rgb(182, 32, 32) 1px; */
  font-family: "Helvetica Neue LT GEO 65";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #333333;
}

.PS-filter-choices {
  font-family: "Helvetica Neue LT GEO Caps 55 Roman";
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.PS-filter-choice {
  /* border: solid black 1px; */
  box-shadow: 1px 1px 4px 0px #0000001a;
  width: 75;
  height: 25;

  opacity: 1;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 10px;
  border-radius: 4px;
  font-size: 12px;

  font-family: "Helvetica Neue LT GEO Caps 55 Roman";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 5%;
  color: #333333;
}

.PS-filter-buttons {
  display: flex;
  justify-content: space-between;
  width: 294px;
}

.PS-filter-button-1 {
  background-color: #3366cc;
  color: #ffffff;
  width: 141px;
  height: 42px;

  opacity: 1;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 8px;
  font-size: 14px;

  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5%;
  color: #ffffff;
}

.PS-filter-button-2 {
  background-color: transparent;
  border: solid #3366cc 1px;
  width: 141px;
  height: 42px;

  opacity: 1;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 8px;
  border-width: 1px;

  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5%;
  color: #333333;
}

.PS-result {
  /* border: solid black 1px; */
  margin: 0 auto;
  padding-bottom: 48px;
  width: 1005px;
  display: flex;
  flex-direction: column;
  /* height: 768px; */
  gap: 32px;
}

.PS-9-results {
  /* border: solid black 1px; */
  height: 34px;

  font-family: "Helvetica Neue LT GEO 75 Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0%;
  color: #333333;
}

.PS-result-cards {
  /* border: solid aquamarine 1px; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.PS-favorite {
  background-color: greenyellow;
}

.PS-favorite > .PS-heart-div {
  background-color: yellow;
}

.PS-result-card {
  /* border: solid black 1px; */
  /* background-color: aquamarine; */
  width: 318px;
  height: 497px;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* gap: 15px; */
  box-shadow: 0px 2px 4px 0px #0000001a;
  border-radius: 12px;
  position: relative;
}

.PS-heart-div {
  /* border: solid black 1px; */
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  box-shadow: 0px 2px 4px 0px #0000001a;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 12px;
}

.PS-card-info {
  /* margin: -5px 0; */
  /* border: solid red 1px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: end; */
  width: 318px;
  /* height: 194px; */
  /* gap: 50px; */
  padding: 12px 0;
}

.PS-name {
  /* border: solid blue 1px; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* gap: 12px; */
  /* align-items: center; */
  padding: 0 12px;
  /* font-size: 20px; */
}

.PS-card-info-text-button {
  /* border: solid aqua 1px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.PS-card-info-sub {
  /* border: solid green 1px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: end;
  width: 318px;
}

.PS-sphere {
  /* border: solid blue 1px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* align-items: center; */
  padding: 5px;
}

.PS-request {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  padding: 5px;
}

.PS-salary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  padding: 5px;
}

.PS-card-info-button {
  background-color: #3366cc;
  color: #ffffff;
  width: 294px;
  height: 36px;
  gap: 8px;
  opacity: 1;
  /* padding-top: 8px; */
  padding-right: 16px;
  /* padding-bottom: 8px; */
  padding-left: 16px;
  border-radius: 8px;

  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5%;
  align-content: center;
}

.PS-name > h1 {
  /* border: solid red 1px; */
  height: 90px;

  font-family: "Helvetica Neue LT GEO Caps 75 Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #333333;
}

.PS-name > img {
  /* border: solid red 1px; */
  width: 24px;
  height: 24px;
}

.PS-card-info h3 {
  font-family: "Helvetica Neue LT GEO 65";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #333333;
}

.PS-card-info h4 {
  font-family: "Helvetica Neue LT GEO 55 Roman";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #333333;
}

footer {
  /* border: solid black 1px; */
  margin: 0 auto;
  padding: 24px 48px;
  background-color: #3366cc;
  color: #ffffff;
  width: 1440px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-content: center;
  text-align: center;
  font-family: "Helvetica Neue LT GEO 65";
  font-weight: 500;
  /* font-style: 65 Medium; */
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 20px;
  letter-spacing: 0%;
}

.PS-Footer-div-1 {
  /* border: solid red 1px; */
  margin: 0 auto;
  width: 1344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PS-Footer-contact-info {
  /* border: solid red 1px; */
  padding-left: 88px;
  display: flex;
  gap: 32px;
  font-size: 14px;
}

.PS-Footer-social-networks {
  display: flex;
  gap: 16px;
}

.PS-Footer-div-2 {
  border-top: solid white 1px;
  height: 52px;
  width: 1344px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: end;
  font-size: 14px;
}
