* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  all: unset;
}
body {
  background-color: #f4f0f0;
}
.maincontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px 20px 0px 20px; */
  background-color: white;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px 24px 48px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  background-color: white;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar li {
  margin-right: 30px;
}
.navbar li:last-child {
  margin-right: 0;
}
.lmfirstsection {
  background-color: #ececec;
  padding: 176px 48px;
}
.lmfirstsecionwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lmfirstsectionimage img {
  width: 200px;
  height: 200px;
  margin-right: 200px;
}
.lmfirstsectionleft {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.lmmaintitle {
  font-weight: 600;
  font-size: 48px;
}
.lmfirstsectionleft p {
  width: 768px;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  letter-spacing: -1%;
}
.lmcards {
  width: 100%;
  max-width: 1344px;
  margin-top: 30px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  gap: 25px;
}
.lmcatname {
  font-weight: 600;
  font-size: 32px;
  margin-left: 48px;
  margin-top: 40px;
}
.lmcategories img {
  width: 30px;
  height: 30px;
}
.lmcard1 {
  width: 204px;
  height: 188px;
  padding: 75px 90px;
  background-color: #ececec;
}
.lmcard2 {
  width: 204px;
  height: 188px;
  padding: 75px 90px;
  background-color: #ececec;
}
.lmcard3 {
  width: 204px;
  height: 188px;
  padding: 75px 90px;
  background-color: #ececec;
}
.lmcard4 {
  width: 204px;
  height: 188px;
  padding: 75px 90px;
  background-color: #ececec;
}
.lmcard5 {
  width: 204px;
  height: 188px;
  padding: 75px 90px;
  background-color: #ececec;
}
.lmcard6 {
  width: 204px;
  height: 188px;
  padding: 75px 90px;
  background-color: #ececec;
}
.lmname {
  width: 204px;
  border: none;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(11, 11, 11, 0.2);
  padding: 20px 70px;
  margin-top: 12px;
  margin-bottom: 50px;
}
.lmwrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lmwrapper2left {
  width: 546px;
  height: 275px;
  background-color: #ececec;
  margin-left: 48px;
}
.lmwrapper2left img {
  width: 50px;
  height: 50px;
}
