* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Noto Sans Georgian; */
  /* outline: 1px aquamarine solid; */
  font-family: "Helvetica Neue LT GEO 55 Roman";
}

body {
  background-color: #f4f0f0;
}

header {
  /* border: solid black 1px; */
  margin: 0 auto;
  background-color: aquamarine;
  width: 1440px;
  height: 72px;
  align-content: center;
  text-align: center;
}

/* ლელას კოდის დასაწყისი */

/* * {
    cursor: pointer;
  } */

a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  background-color: #3366cc;
  margin-top: 40px;
  height: 70px;
}
.lmlogo {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar li {
  margin-right: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  border: solid #3366cc 3px;
  padding: 16px 16px;
}
.navbar li:hover {
  border-bottom: solid #ffffff 3px;
}
.navbar li:last-child {
  margin-right: 0;
}

/* ლელას კოდის დასასრული */

.PS-section-1 {
  background-color: #f1e6fa;
  /* პროფესიის სახელი */
  padding: 20px;
  /* border: solid black 1px; */
  margin: 0 auto;

  width: 1440px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PS-sec-1-div-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.PS-sec-1-div-1 h2 {
  font-family: "Helvetica Neue LT GEO 75 Roman";
}

.PS-sec-1-div-2 {
  display: flex;
  gap: 24px;
}

.PS-sec-1-div-2 > p {
  background-color: #f1e6fa;
  border-radius: 12px;
  /* border: solid black 1px; */
  width: 204px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.05);
  border: 2px solid #9c58d1;
}

.PS-section-2 {
  padding: 20px;
  gap: 20px;
  /* საჭირო უნარები: */
  /* border: solid black 1px; */
  margin: 0 auto;
  background-color: #ffffff;
  width: 1440px;
  height: 68px;
  display: flex;
  align-items: center;
}

.PS-section-2 > div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.PS-section-2 > div > p {
  /* width: 55px; */
  /* height: 20px; */
  border-radius: 4px;
  border: 1px solid #cba6ef;
  background-color: #f1e6fa;
  font-size: 14px;
  padding: 4px 8px;
  align-content: center;
  text-align: center;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.PS-section-3 {
  /* border: solid aqua 1px; */
  background-color: rgba(255, 255, 255, 1);
  /* ქვესათაური */
  display: flex;
  /* justify-content: space-between; */
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 1440px;

  /* align-content: center; */
  /* text-align: center; */
}

.PS-subheaders {
  /* border: solid red 1px; */
  margin: 0px auto;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 38px;
}

.PS-subheader-1 {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PS-subheader-2 {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.PS-subheader-2 > div {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 24px;
  align-items: spacr;
}

.PS-subheader-2 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* gap: 24px; */
  padding: 20px 0;
}
.PS-subheader-2 > div > div > h1 {
  margin-bottom: 32px;
}

.PS-subheader-3 {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
  /* margin-bottom: 50px 0; */
}

.PS-subheader-3-header {
  /* font-family: Helvetica Neue LT GEO Caps; */
  font-weight: 700;
  font-style: 75 Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 5%;
}

.PS-subheader-3-content {
  /* border: solid green 1px; */
  width: 1344px;
  padding: 20px 0;
  display: flex;
  /* flex-direction: column; */
  /* gap: 24px; */
  justify-content: space-between;
}

.PS-subheader-3-content-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PS-subheader-3-content-text h1 {
  /* color: red; */
  margin-bottom: 16px;
  /* font-family: Helvetica Neue LT GEO; */
  font-weight: 700;
  font-style: 75 Bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0%;
}

.PS-section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  /* Roadmap */
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 1440px;
  height: 409px;
  padding: 24px;
  /* align-content: center; */
  /* text-align: center; */
}

.PS-section-4-name {
  font-size: 32px;
  margin-bottom: 32px;
}

.PS-section-4-text {
  /* padding: 0 24px; */
  /* border: solid black 1px; */
  display: flex;
  justify-content: space-around;
}

.PS-section-4-text > div {
  /* border: solid black 1px; */
  width: 216px;
  /* height: 50px; */
  gap: 8px;
  /* angle: 0 deg; */
  opacity: 1;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 1px 3px 0px #0000001a;
  /* font-family: Helvetica Neue LT GEO; */
  font-weight: 400;
  font-style: 55 Roman;
  font-size: 13px;
  /* leading-trim: NONE; */
  line-height: 17px;
  letter-spacing: 0%;
}

.PS-section-5 {
  background-color: rgba(255, 255, 255, 1);
  /* რეკომენდირებული კურსები */
  /* border: solid black 1px; */
  margin: 0 auto;
  padding: 0 0 48px 24px;

  width: 1440px;
  /* height: 330px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* align-content: center; */
  /* text-align: center; */
}

.PS-section-5-name {
  font-size: 32px;
}

.PS-cards {
  display: flex;
  justify-content: space-between;
}

.PS-card-1 {
  /* border: solid black 1px; */
  display: flex;
  gap: 10px;
  width: 432px;
  height: 254px;
  box-shadow: 0px 1px 3px 0px #0000001a;
}

.PS-cards img {
  width: 204px;
  height: 254px;
}

.PS-card-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PS-card-text > h3 {
  height: 48px;
}

.PS-card-button-1 {
  width: 88px;
  height: 31px;
  gap: 8px;
  /* angle: 0 deg; */
  opacity: 1;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  border-radius: 12px;
  border-width: 0.5px;
}

.PS-card-button-2 {
  width: 176;
  height: 36;
  gap: 8px;
  /* angle: 0 deg; */
  opacity: 1;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: #3366cc;
  color: #ffffff;
}

footer {
  /* border: solid black 1px; */
  margin: 0 auto;
  padding: 24px 48px;
  background-color: #3366cc;
  color: #ffffff;
  width: 1440px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-content: center;
  text-align: center;
}

.PS-Footer-div-1 {
  /* border: solid red 1px; */
  margin: 0 auto;
  width: 1344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PS-Footer-contact-info {
  /* border: solid red 1px; */
  padding-left: 88px;
  display: flex;
  gap: 32px;
  font-size: 14px;
}

.PS-Footer-social-networks {
  display: flex;
  gap: 16px;
}

.PS-Footer-div-2 {
  border-top: solid white 1px;
  height: 52px;
  width: 1344px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: end;
  font-size: 14px;
}
