* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Noto Sans Georgian;
}

bodY {
  background-color: #f4f0f0;
}

header {
  /* border: solid black 1px; */
  margin: 0 auto;
  background-color: aquamarine;
  width: 1440px;
  height: 72px;
  align-content: center;
  text-align: center;
}

/* ლელას კოდის დასაწყისი */

/* * {
    cursor: pointer;
  } */

a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  background-color: white;
  margin-top: 40px;
}
.lmlogo {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar li {
  margin-right: 30px;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}
.navbar li:last-child {
  margin-right: 0;
}

/* ლელას კოდის დასასრული */

.PS-section-list {
  background-color: white;
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PS-search {
  /* border: solid rgb(255, 0, 0) 1px; */
  margin: 0 auto;
  width: 1440px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 16px;
}

.PS-fing-job-you-love {
  font-family: Noto Sans Georgian;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.PS-find {
  display: flex;
  align-items: center;
  gap: 32px;
}

.PS-find-button {
  background-color: #6e6e6e;
  color: #ffffff;
  width: 164px;
  height: 48px;
  gap: 8px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  border-radius: 12px;
}

.PS-filter-result {
  /* border: solid red 1px; */
  display: flex;
}

.PS-filter {
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 366px;
  /* height: 1558px; */

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.PS-filter-name {
  /* border: solid black 1px; */
  font-family: Noto Sans Georgian;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.PS-filter-name-content {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 5px;
}

.PS-filter-sphere {
  /* border: solid rgb(182, 32, 32) 1px; */
  font-family: Noto Sans Georgian;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.PS-filter-choices {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.PS-filter-choice {
  /* border: solid black 1px; */
  box-shadow: 1px 1px 4px 0px #0000001a;
  width: 75;
  height: 25;
  angle: 0 deg;
  opacity: 1;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 10px;
  border-radius: 4px;
}

.PS-filter-buttons {
  display: flex;
  justify-content: space-between;
  width: 294px;
}

.PS-filter-button-1 {
  background-color: #6e6e6e;
  color: #ffffff;
  width: 141px;
  height: 42px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 12px;
}

.PS-filter-button-2 {
  border: solid #6e6e6e 1px;
  width: 141px;
  height: 42px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 12px;
  border-width: 1px;
}

.PS-result {
  /* border: solid black 1px; */
  margin: 0 auto;
  width: 1005px;
  display: flex;
  flex-direction: column;
  /* height: 768px; */
  gap: 5px;
}

.PS-9-results {
  /* border: solid black 1px; */
  height: 34px;
  /* padding: 5px; */
  /* margin: 10px; */
  font-weight: 600;
  /* font-style: SemiBold; */
  font-size: 24px;
  /* leading-trim: NONE; */
  /* line-height: 100%; */
  letter-spacing: 0%;
}

.PS-result-cards {
  /* border: solid aquamarine 1px; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.PS-result-card {
  /* border: solid black 1px; */
  width: 318px;
  height: 454px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 2px 4px 0px #0000001a;
}

.PS-card-info {
  /* margin: -5px 0; */
  /* border: solid yellow 1px; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 318px;
  /* height: 194px; */
}

.PS-name {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 5px;
}

.PS-salary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 5px;
}

.PS-satisfaction {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 5px;
}

.PS-card-info-button {
  background-color: #6e6e6e;
  color: #ffffff;
  /* margin-top: 15px; */
  width: 294px;
  height: 40px;
  gap: 8px;
  border-radius: 12px;
  padding: 8px;
}

.PS-card-info h1 {
  font-family: Noto Sans Georgian;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
}

.PS-card-info h2 {
  font-family: Noto Sans Georgian;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -1%;
}

.PS-card-info h3 {
  font-family: Noto Sans Georgian;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
}

.PS-card-info h4 {
  font-family: Noto Sans Georgian;
  font-weight: 700;
  font-style: Bold;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
}
